{% extends 'quiz/base.html' %}
{% block content %}

<div class="auth-form-container">
    <form method="post" action="{% url 'quiz:register_user' %}" class="auth-form">
        {% csrf_token %}
        <h1>Register form</h1>
        <div class="form-input-div">
            <input type="text" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="form-input-div">
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-input-div">
            <input type="password" id="repeat-password" name="repeat-password" placeholder="Repeat password" required>
        </div>
        {% if error %} 
            <p class="form-error">{{ error }}</p>
        {% endif %}
        <div class="form-btn-div">
            <button type="submit" class="list-item-button">Register</button>
        </div>
    </form>
    <p class="link-to-login">
        Already have an account? 
        <a href="{% url 'quiz:login_user' %}">Login instead</a>
    </p>
</div>

{% endblock content %}