.auth-form-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    padding: 2em 2em 5em;
    margin-top: 25px;
    border-radius: 20px;
}

.auth-form-container h1 {
    color: white;
    margin-bottom: 15px;
}

.auth-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #003566;
}

.form-input-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form-input-div input {
    width: 80%;
    padding: 1em;
    font-size: medium;
    background: #001D3D;
    border: none;
    color: white;
    border-radius: 10px;
}

.form-btn-div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link-to-login {
    color: white;
}

.link-to-login a {
    color: #FFC300;
    font-weight: bold;
}

.link-to-login a:hover {
    text-decoration: underline;
}

.form-error {
    width: 100%;
    text-align: center;
    color: red;
}