{% load static %}

<html>
    <head>
        <title>Quiz Master</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'quiz/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'quiz/css/home.css' %}">
        <link rel="stylesheet" href="{% static 'quiz/css/quiz_list.css' %}">
        <link rel="stylesheet" href="{% static 'quiz/css/quiz_detail.css' %}">
        <link rel="stylesheet" href="{% static 'quiz/css/quiz_create.css' %}">
        <link rel="stylesheet" href="{% static 'quiz/css/quiz_edit.css' %}">
        <link rel="stylesheet" href="{% static 'quiz/css/quiz_solve.css' %}">
        <link rel="stylesheet" href="{% static 'quiz/css/solve_result.css' %}">
        <link rel="stylesheet" href="{% static 'quiz/css/question_detail.css' %}">
        <link rel="stylesheet" href="{% static 'quiz/css/user_profile.css' %}">
        <link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
    </head>
    <body>
        <header class="header">
            <div class="header-brand">
                <h1>
                    <a href="/" class="home-link">QuizMaster</a>
                </h1>
            </div>
            <nav class="header-nav">
                {% if request.user.is_superuser %}
                    <a class="admin-link" href="/admin">Go to admin</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <p class="nav-username">User:
                        <a href="{% url 'quiz:user_profile' request.user.id %}" class="author-link"> 
                            {{ request.user.username }}
                        </a>
                    </p>
                    <form method="post" action="{% url 'logout' %}" class="logout-form">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'quiz:login_user' %}" class="login-link">
                        Login
                    </a>
                    <a href="{% url 'quiz:register_user' %}" class="login-link">
                        Register
                    </a>
                {% endif %}
            </nav>
        </header>
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
