{% extends 'quiz/base.html' %}
{% block content %}

{% if request.user.is_authenticated %}
    <div class="create-form-container">
        <form method="post" action="{% url 'quiz:create_quiz' %}">
            {% csrf_token %}
            <h1>Create your own quiz</h1>
            <div>
                <input type="text" id="title" name="title" placeholder="Quiz title">
            </div>
            <div>
                <button type="submit">
                    Create
                </button>
            </div>
        </form>
        {% if quiz %}
            <div>
                {% block question %}
                {% endblock %}
                <div>
                    <form method="post" action="{% url 'quiz:generate_question' quiz.id %}">
                        {% csrf_token %}
                        <button type="submit">Add question</button>
                    </form>
                </div>
                <div>
                    {% for question in questions %}
                        <p>{{ question.question_text }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% else %}
    <p>You must be logged in to create a quiz</p>
{% endif %}
{% endblock content %}