{% extends 'quiz/base.html' %}
{% block content %}

<div class="home-layout">
    <header class="home-header">
        <h1>Quiz Master</h1>
        <p>Welcome to quiz master</p>
    </header>
    <div class="home-main">
        <h2>Solve quizzes or create your own</h2>
        <div class="link-container">
            <a href="{% url 'quiz:quiz_list/' %}">All Quizzes</a>
        </div>
        <div class="link-container">
            <a>Create your own Quiz</a>
        </div> 
    </div>
</div>


{% endblock content %}