{% extends 'quiz/base.html' %}
{% block content %}


<div class="quiz-list-layout">
    <h1 class="quiz-list-heading">All Quizzes</h1>
{% for quiz in quizzes %}
    <div class="quiz-list-item">
        <h2 class="list-item-heading">
            <a href="{% url 'quiz:detail' quiz.id %}">{{ quiz.quiz_name }}</a>
        </h2>
        <div class="list-item-info">
            <!-- link na profil treba napravit jednog dana -->   
            <p>Author: <span style="font-weight: bold;">{{ quiz.author }}</span></p>
            <p>Made at: <span style="font-weight: bold;">{{ quiz.pub_date }}</span></p>
            <p>Number of questions: <span style="font-weight: bold;">{{ quiz.question_set.count }}</span></p>
            <p>Likes: <span style="font-weight: bold;">{{ quiz.likes.count }}</span></p>
            <p>Comments: <span style="font-weight: bold;">{{ quiz.comments.count }}</span></p>
        </div>
        <!-- href treba promjenit kad napravimo view za rješavanje kviza -->
        <div class="list-item-button-div">
            <a href="/"> 
                <button class="list-item-button">Play Now</button>
            </a>
        </div>
    </div>
{% endfor %}
</div>

{% endblock content %}