{% extends "quiz/base.html" %}
{% block content %}

<div class="quiz-detail-layout">
    <div class="quiz-detail-info">
        <h1 class="quiz-detail-heading"><span style="font-weight: normal;">Quiz name:</span> {{ quiz.quiz_name }}</h1>
        <p>Made at: <span style="font-weight: bold;">{{ quiz.pub_date }}</span></p>
        <p>Author: <span style="font-weight: bold;">{{ quiz.author }}</span></p>
        <p>Number of questions: <span style="font-weight: bold;">{{ quiz.question_set.count }}</span></p>
        <p>Likes: <!-- broj lajkova --><span style="font-weight: bold;">52</span></p>
        <p>Comments: <!-- broj komentara --><span style="font-weight: bold;">23</span></p>
    </div>
    <div class="detail-button-div">
        <!-- promjenit href na rjesavanje kviza kad se napravi-->
        <a href="/">
            <button class="list-item-button">Play Now</button>
        </a>
    </div>
    <div class="quiz-detail-desc">
        <h2 class="quiz-detail-heading">Quiz description: </h2>
        <p>{{ quiz.description }}</p>
    </div>
</div>

{% if quiz.author == request.user %}
    <div class="quiz-detail-questions">
        <h2>Questions: </h2>
        {% for question in quiz.question_set.all %}
            <p class="detail-question-heading">{{ question.question_text }}?</p>
            <div class="quiz-detail-answers">
                {% for answer in question.answer_set.all %}
                    <div class="detail-answers-item">
                        <p>{{ answer.answer_text }}</p>
                        {% if answer.is_correct == True %}
                            <p style="color: greenyellow;">Correct</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="questions-button-div">
            <a href="{% url 'quiz:edit_quiz' quiz.id %}">
                <button class="list-item-button">Edit quiz</button>
            </a>
        </div>
    </div>
{% endif %}

<div>
    <h1>Komentari</h1> 
    {% for comment in quiz.comments.all %}
        <p>
            <strong>{{comment.user.username}}</strong>
            ( {{ comment.pub_date }} ) <br/>
            {{ comment.comment_text }}
        </p>
    {% endfor %}
    {% if request.user.is_authenticated %}
    <form action="{% url 'quiz:post_comment' quiz.id %} " method="post">
        {% csrf_token %}
        <p>
            <label for="comment_text">Text</label>
            <input id="comment_text" name="comment_text" type="text">
        </p>
        <input type="submit">
    </form>
    {% else %}
    <p>Morate biti prijavljeni za komentiranje
        <a href="{% url 'login' %}">Prijavi se</a>
    </p>
    {% endif %}
</div>

{% endblock content %}

