{% extends "quiz/base.html" %}
{% block content %}

<div class="quiz-detail-layout">
    <div class="quiz-detail-heading">
        <h1>{{ quiz.quiz_name }}</h1>
    </div>
    <div class="quiz-detail-info">
        <p>Made at: <span style="font-weight: bold;">{{ quiz.pub_date }}</span></p>
        <p>Author: <span style="font-weight: bold;">{{ quiz.author }}</span></p>
        <p>Number of questions: <span style="font-weight: bold;">{{ quiz.question_set.count }}</span></p>
        <p>Likes: <span style="font-weight: bold;">{{ quiz.likes.count }}</span></p>
        <p>Comments: <span style="font-weight: bold;">{{ quiz.comments.count }}</span></p>
    </div>
    <div class="detail-button-div">
        <!-- promjenit href na rjesavanje kviza kad se napravi-->
        <a href="/">
            <button class="list-item-button">Play Now</button>
        </a>
    </div>
    <div class="quiz-detail-desc">
        <h2 class="quiz-desc-heading">Quiz description: </h2>
        <p>{{ quiz.description }}</p>
    </div>
</div>

{% if quiz.author == request.user %}
    <div class="quiz-detail-questions">
        <h2>Questions: </h2>
        {% for question in quiz.question_set.all %}
            <p class="detail-question-heading">{{ question.question_text }}?</p>
            <div class="quiz-detail-answers">
                {% for answer in question.answer_set.all %}
                    <div class="detail-answers-item">
                        <p>{{ answer.answer_text }}</p>
                        {% if answer.is_correct == True %}
                            <p style="color: #FFC300;">Correct</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="questions-button-div">
            <a href="{% url 'quiz:edit_quiz' quiz.id %}">
                <button class="list-item-button">Edit quiz</button>
            </a>
        </div>
    </div>
{% endif %}

<div class="comments-layout">
    <h1 class="comments-heading">Comments</h1>
    <div class="comments-container">
        {% for comment in quiz.comments.all %}
            <div class="comment-item">
                <div class="comment-item-header">
                    <p>@{{ comment.user.username }}</p>
                    <p class="comment-date">{{ comment.pub_date }}</p>
                </div>
                <div class="comment-item-content">
                    <p>{{ comment.comment_text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
        <form action="{% url 'quiz:post_comment' quiz.id %} " method="post" class="comment-form">
            {% csrf_token %}
            <input id="comment_text" name="comment_text" type="text" placeholder="Enter your comment here">
            <div class="comment-btn-div">
                <button type="submit" class="lis">Submit</button>
            </div>
        </form>
    {% else %}
        <p class="comment-login">You have to be logged in to comment |
            <a href="{% url 'login' %}">Login</a>
        </p>
    {% endif %}
   
</div>
<div class="detail-button-div">
    <a href="{% url 'quiz:like' quiz.id %}">
        <button class="list-item-button">Like</button>
    </a>
</div>

{% endblock content %}

